* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.width50{
  width: 50%;
}
.width30 {
  width: 30%;
}
.width25 {
  width: 25%;
}
.width15{
  width: 15%;
}
.padding-y1{
  padding-top: 1%;
  padding-bottom: 1%;
}
.padding-y2{
  padding-top: 2%;
  padding-bottom: 2%;
}
.padding-bottom4{
  padding-bottom: 4%;
}
.img-fluid{
  max-width: 100%;
}
.bg-blue {
  background-color: blue;
}
.bg-orange {
  background-color: orangered;
}
.bg-dark-white {
  background-color: gainsboro;
}
.bg-red{
  background-color: red;
}
.color-white{
  color: white;
  font-size: 10px;
}
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.circle{
  border-radius: 50%;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.align-items-center{
  align-items: center;
}
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
ul{
  list-style: none;
}
